{% extends "base.html" %}


{% block title %} Projects {% endblock title %}


{% block style %}
<style>
    a {
        text-decoration: none;
        color: white;
    }

    button {
        margin-right: 1rem;
    }

    .card {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
</style>
{% endblock style %}


{% block projectsactive %} active {% endblock projectsactive %}


{% block body %}

<h4 class="mt-5" style="text-align: center;">Hey visitor, here is a brief overview of some of my previous work...✍️</h4>

<div class="mx-auto">
    <div class="card my-5 p-4 mx-auto" style="max-width: 70%; border: 0;">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; align-items: center;">
                <img src="/static/images/project 1 images/Plant and Planters 2.png" class="img-fluid rounded-start"
                    alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body px-5">
                    <h5 class="card-title">Plant & Planters</h5>
                    <p class="card-text">An online Plant Nursery Management Platform that allows customers to view the
                        list of plants, seeds, and planters.</p>
                    <p class="card-text"><small class="text-body-secondary"><b>Tech Stack : </b>JAVA | SPRING | MYSQL |
                            HTML5 | CSS | JAVASCRIPT</small></p>
                    <button type="button" class="btn btn-dark">
                        <a href="https://github.com/AmanChaudhary214/Plant-and-Planters" target="_blank">Git Repo.</a>
                    </button>
                    <button type="button" class="btn btn-dark">
                        <a href="https://sparkly-semolina-e9497d.netlify.app/" target="_blank">Demo</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto">
    <div class="card my-5 p-4 mx-auto" style="max-width: 70%; border: 0;">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; align-items: center;">
                <img src="/static/images/project 2 images/SurveyHome.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body px-5">
                    <h5 class="card-title">SurveyHome.com</h5>
                    <p class="card-text">A clone of the SurveyMonkey website which is an online survey service provider
                        that allow users to create web browser based surveys.</p>
                    <p class="card-text"><small class="text-body-secondary"><b>Tech Stack : </b>HTML5 | CSS | JAVASCRIPT
                            | JSON</small></p>
                    <button type="button" class="btn btn-dark">
                        <a href="https://github.com/AmanChaudhary214/simple-tank-2270" target="_blank">Git Repo.</a>
                    </button>
                    <button type="button" class="btn btn-dark">
                        <a href="https://golden-baklava-528f55.netlify.app/" target="_blank">Demo</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto">
    <div class="card my-5 p-4 mx-auto" style="max-width: 70%; border: 0;">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; align-items: center;">
                <img src="/static/images/project 3 images/GroceryWala.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body px-5">
                    <h5 class="card-title">GroceryWala.com</h5>
                    <p class="card-text">A clone of the Nature's Basket website which is an onine supermarket and
                        premium grocery store in India.</p>
                    <p class="card-text"><small class="text-body-secondary"><b>Tech Stack : </b>HTML5 | CSS |
                            JAVASCRIPT</small></p>
                    <button type="button" class="btn btn-dark">
                        <a href="https://github.com/AmanChaudhary214/curly-hobbies-5555" target="_blank">Git Repo.</a>
                    </button>
                    <button type="button" class="btn btn-dark">
                        <a href="https://peaceful-bonbon-66f157.netlify.app/" target="_blank">Demo</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto">
    <div class="card my-5 p-4 mx-auto" style="max-width: 70%; border: 0;">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; align-items: center;">
                <img src="/static/images/project 4 images/ocsc.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body px-5">
                    <h5 class="card-title">Online Customer Service Centre</h5>
                    <p class="card-text">An Online Customer Service Centre that provides a platform for customers to
                        submit issues, and inquiries which can be resolved by our dedicated support team.</p>
                    <p class="card-text"><small class="text-body-secondary"><b>Tech Stack : </b>JAVA | SPRINGBOOT |
                            MYSQL | HTML5 | CSS | JAVASCRIPT</small></p>
                    <button type="button" class="btn btn-dark">
                        <a href="https://github.com/AmanChaudhary214/Online-Customer-Service-Center" target="_blank">Git
                            Repo.</a>
                    </button>
                    <button type="button" class="btn btn-dark">
                        <a href="https://inspiring-parfait-d03b9d.netlify.app/" target="_blank">Demo</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto">
    <div class="card my-5 p-4 mx-auto" style="max-width: 70%; border: 0;">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; align-items: center;">
                <img src="/static/images/project 5 images/jarvis.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body px-5">
                    <h5 class="card-title">Jarvis.AI</h5>
                    <p class="card-text">An Interview Preparation ChatBot leveraging the power of OpenAI. The best way
                        to prepare for the programming interviews.</p>
                    <p class="card-text"><small class="text-body-secondary"><b>Tech Stack : </b>MONGODB | NODEJS |
                            EXPRESSJS | HTML5 | CSS | JAVASCRIPT | CHARTJS</small></p>
                    <button type="button" class="btn btn-dark">
                        <a href="https://github.com/AmanChaudhary214/RoboMinds" target="_blank">Git Repo.</a>
                    </button>
                    <button type="button" class="btn btn-dark">
                        <a href="https://robominds.netlify.app/" target="_blank">Demo</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

{% endblock body %}